.Container{
    height: inherit;
    width: inherit;
    background-color: royalblue;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.Container .Sub-Container{
    width: 1050px;
    height: 580px;
    margin: 40px 0 0 0;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Container .Sub-Container .Box1{
    height: 300px;
    width: inherit;
    background-color: white;
    box-shadow: 0 0 10px -3px maroon ;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.Container .Sub-Container .Box1 .Note{
  width: 80%;
  margin: 40px 0 0 10px;
}

.Container .Sub-Container .Box1 .Data{
    margin: 45px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Container .Sub-Container .Box1 .Data .Data-Agendada{
    
    margin: 0 30px 0px 10px;
}

.Container .Sub-Container .Box1 .Data .Hora-Agendada{
    
    margin: 0 0 0 10px;
}

.Container .Sub-Container .Box1 .Feito{
    width: inherit;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.Container .Sub-Container .Box1 .Feito .RadioGroup{
    display: flex;
    flex-direction: row;
}

.Container .Sub-Container .Box1 .Feito .Button{
    display: flex;
    align-items: center;

}

.Container .Sub-Container .Box2 .Data-flex{
    background-color: white;
    display: flex;
    height: 55px;
    align-items: center;
    padding: 0 5px 0 5px;

}

